:root {
    --body: #1f1f1f;
    --linec: #6b6b6b;
    --bgc: #3b3b3b;
    --bgc1: #444444;
    --textc: #eeeeee;
    --active_0: #ffffff30;
    --hover_0: #ffffff10;
    --maincolor: #264ff7;
    --shadow: #00000040;
}