:root {
    --body: #f1f1f1;
    --linec: #949494;
    --bgc: #ffffff;
    --bgc1: #f2f2f2;
    --textc: #111111;
    --active_0: #00000010;
    --hover_0: #00000005;
    --maincolor: #264ff7;
    --shadow: #00000040;
}