:root{
    --color_main: #264FF7;
    --color_main-text: #f0f0f0;
    --color_bg: #ffffff;
    --color_bgh: #f0f0f0;
    --color_nav: #ffffff;
    --color_navh: #eeeeee;
    --color_shadow: #2e2e2e2e;
    --color_text: #2e2e2e;
    --color_line: #e0e0e0;
}