body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "HarmonyOS_Sans";
    background-color: var(--body);
}

h1 {
    user-select: none;
    font-size: 32px;
    padding: 12px 0px;
    margin: 0px;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--linec);
    border: 0px;
    margin: 0px;
}

.xe_icon{
    margin: 2px;
    border-radius: 16px;
    line-height: 24px;
    font-size: 24px;
    padding: 4px;
    box-shadow: 0px 0px 3px var(--shadow);
    background-color: var(--bgc1);
}

.xe_layout-flex {
    display: flex;
}

.xe_layout-flex-big {
    display: flex;
}

.xe_layout-left-w0 {
    width: 100%;
    max-width: 300px;
}

.xe_layout-flex-left-w0 {
    width: 100%;
    max-width: 300px;
    display: flex;
}

@media (max-width:599px) {
    .xe_layout-flex {
        display: block;
    }

    .xe_layout-left-w0 {
        max-width: 100%;
    }

    .xe_layout-flex-left-w0 {
        max-width: 100%;
        display: block;
    }
}


@media (max-width:1080px) {
    .xe_layout-flex-big {
        display: block;
    }
}

.xe_top {
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    box-shadow: 0px 0px 1px;
    background-color: var(--bgc);
}

.xe_top-body {
    padding-top: 60px !important;
    height: calc(100% - 60px);
    overflow: auto;
}

.xe_content {
    color: var(--textc);
    margin: auto;
    padding: 0px 1%;
    width: 94%;
    background-color: var(--bgc);
}

.xe_nav {
    padding: 6px 8px;
    width: auto;
    height: 24px;
    display: flex;
    overflow: hidden;
    background-color: var(--bgc);
}

.xe_nav-user {
    user-select: none;
    border-radius: 12px;
    height: 24px;
}

.xe_nav-user img {
    pointer-events: none;
    border-radius: 6px;
    height: 100%;
}

.xe_nav-title {
    user-select: none;
    flex-shrink: 0;
    margin: 0px 12px;
    width: 100%;
    max-width: 160px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--textc);
    font-size: 15px;
    line-height: 24px;
}

.xe_nav-search {
    width: 100%;
    border-radius: 6px;
    max-width: 240px;
    height: 24px;
    display: flex;
    background-color: var(--linec);
}

.xe_nav-search button {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    padding: 5px;
    font-size: 12px;
    display: block;
    border: none;
    user-select: none;
    color: var(--textc);
    background-color: #00000000;
}

.xe_nav-search input {
    display: block;
    margin: 0px;
    padding: 0px 8px;
    outline: none;
    width: 100%;
    height: 24px;
    border: none;
    font-size: 12px;
    color: var(--textc);
    background-color: #00000000;
}

.xe_nav-tool {
    margin: 0px 8px;
    padding: 0px;
    height: 20px;
    display: flex;
}

.xe_nav-tool-item {
    width: 100%;
    padding: 0px 8px;
    max-width: 140px;
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--textc);
    transition: all 0.2s;
}

.xe_nav-tool-item.active {
    background-color: var(--active_0);
    border-bottom: 2px solid var(--maincolor);
}

.xe_nav-tool-item:hover {
    background-color: var(--hover_0);
}

@media (max-width:399px) {
    .xe_nav-search {
        display: none;
    }
}

.xe_list {
    padding: 0px;
    margin: 0px;
}

.xe_list li {
    display: flex;
    user-select: none;
    padding: 6px 8px;
    margin: 0px;
    list-style: none;
}

.xe_list li:hover {
    background-color: #66666666;
}

.xe_list li.active {
    background-color: #66666666;
}

.xe_list-text {
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    flex: 1px;
}

.xe_lists {
    padding: 0px;
    margin: 0px;
}

.xe_lists li{
    user-select: text;
    display: flex;
    padding: 2px 4px;
    margin: 0px;
    list-style: none;
    border-bottom: 1px dashed var(--linec);
}

.xe_card_title {
    width: calc(100% - 40px);
    margin: 4px 4px;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px var(--shadow);
    background-color: var(--bgc1);
}

.xe_card {
    width: calc(100% - 24px);
    margin: 4px 4px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px var(--shadow);
    background-color: var(--bgc1);
}

.xe_card-maincard{
    height: auto;
}

.xe_user_card {
    padding: 4px;
    height: 56px;
    display: flex;
}

.xe_user_card-icon {
    flex-shrink: 0;
    user-select: none;
    margin: 0px;
    padding: 6px;
    height: 44px;
}

.xe_user_card-icon img {
    pointer-events: none;
    border-radius: 28px;
    height: 100%;
}

.xe_user_card-text {
    flex: 1;
    padding: 0px 4px;
}

.xe_user_card-text .user-name {
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    display: block;
}

.xe_user_card-text .info {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    display: block;
}

.xe_infoc {
    top: 64px;
    right: 8px;
    padding: 12px 16px;
    position: fixed;
    border-radius: 4px;
    width: 100%;
    color: var(--textc);
    max-width: 240px;
    background-color: #00000080;
}

.xe_card.ntag {
    min-height: 100px;
    cursor: pointer;
}

.xe_layout-tagc {
    width: 96%;
    margin: auto 2%;
}

.xe_search{
    display: flex;
    border-radius: 20px;
    height: 32px;
    color: var(--textc);
    border: 2px solid var(--linec);
    background-color: var(--bgc1);
}
.xe_search input{
    width: 100%;
    margin: 0px 4px;
    display: block;
    outline: 0px;
    border: none;
    padding: 8px;
    font-size: 16px;
    color: var(--textc);
    line-height: 16px;
    background-color: #00000000;
}
.xe_search button {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    padding: 8px;
    margin: 0px 4px;
    font-size: 16px;
    display: block;
    border: none;
    user-select: none;
    color: var(--textc);
    background-color: #00000000;
}

.xe_search-more{
    top: 56px;
    display: none;
    margin: 0px 4px;
    border-radius: 6px;
    padding: 8px;
    width: calc(100% - 24px);
    height: 140px;
    overflow: auto;
    z-index: 9999;
    position: absolute;
    background-color: var(--bgc1);
    box-shadow: 0px 0px 3px var(--shadow);
}